h1,h2,h3 {
    line-height: 1.2;
}


body {
    background-color: #cfe0e8;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

thead {
    background-color: #b7d7e8;
}

tbody, ul {
    background-color: #87bdd8;
}